{% extends 'base/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Регистрация</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input id="button-registration-margin-top" class="button" type="submit" value="Зарегестрироваться">
    </form>
    <p>У Вас уже есть аккаунт? <a href="{%  url 'login' %}">Войти</a></p>
</div>

{% endblock content %}